{% extends "base.html" %}

{% block title %}Submitted By{% endblock %}

{% block content %}
<h2>📬 Submitted By</h2>
<p><strong>Name:</strong> Shyam Sundar</p>
<p><strong>Email:</strong> 
    <a href="mailto:shyamsundarv00073@gmail.com">shyamsundarv00073@gmail.com</a>
</p>
<p><strong>LinkedIn:</strong> 
    <a href="https://linkedin.com/in/yesweeyes" target="_blank">linkedin.com/in/yesweeyes</a>
</p>
<p><strong>GitHub:</strong> 
    <a href="https://github.com/yesweeyes" target="_blank">github.com/yesweeyes</a>
</p>
<p><strong>Phone:</strong> +91-8870096670</p>
{% endblock %}
